{% set title = 'Roy de Jong - Software guy' %}

{% extends "base.twig" %}

{% block content %}
    <div class="site-card">
        <div class="landing">
            <div class="landing__overlay site-card__inner site-card__inner--intro">
                <div class="container">

                    <div class="intro">
                        <h1 class="intro__title">Hi. I'm Roy de Jong.</h1>
                        <p class="intro__text intro__text--primary">I'm an entrepreneur and all-round software developer from The Netherlands. I run <a href="https://www.softwarepunt.com" target="_blank">Software Punt</a>, where I get to build cool stuff.</p>
                        <p class="intro__text intro__text--secondary">I love learning new things and I'm always juggling way too many side projects, which I rarely finish. That's the kind of hot stuff that will no doubt end up on this site. 🔥</p>

                        <a class="button button--intro button--spaced" href="mailto:hi@roydejong.net" title="Get in touch with me">Say hi</a>

                        <div class="social-icons">
                            <a class="social-icons__item" title="Github" href="https://github.com/roydejong" target="_blank">
                                <img src="/static/icons/github-w.svg" alt="Github" />
                            </a>
                            <a class="social-icons__item" title="Twitter" href="https://twitter.com/RoyEatsPizza" target="_blank">
                                <img src="/static/icons/twitter-w.svg" alt="Twitter" />
                            </a>
                            <a class="social-icons__item" title="Instagram" href="https://www.instagram.com/ryjng/" target="_blank">
                                <img src="/static/icons/instagram-w.svg" alt="Instagram" />
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-card">
        <div class="stalker">
            <div class="stalker__content site-card__inner">
                <div class="container">

                    <h2 class="stalker__title">Stalker vision</h2>
                    <p class="stalker__explain intro-text">Using the magic of web APIs and excessive 21st century oversharing, I can tell you a lot of things about myself - completely automatically.</p>

                    {% if stalker_location_enabled %}
                        <div class="factoid factoid--gps">
                            <i class="factoid__icon">🌍</i>
                            <strong class="factoid__label">
                                Last seen near {{ stalker_location_text }}
                                <span class="factoid__extra">A rough estimate based on my latest <a href="https://www.instagram.com/ryjng/" target="_blank">Instagram photo</a></span>
                            </strong>
                        </div>
                    {% endif %}

                    {% if stalker_music_enabled %}
                        <div class="factoid factoid--music">
                            <i class="factoid__icon">🔊</i>
                            <strong class="factoid__label">
                                {{ stalker_music_track.isPlaying ? 'Listening to' : 'Listened to' }} {{ stalker_music_track.name }} by {{ stalker_music_track.artistName }}
                                <span class="factoid__extra">{{ stalker_music_track.isPlaying ? 'Now playing' : stalker_music_track.date|timeago }}, via <a href="https://www.last.fm/user/royjng" target="_blank">Last.fm</a></span>
                            </strong>
                        </div>
                    {% endif %}

                    {% if stalker_game_enabled %}
                        <div class="factoid factoid--music">
                            <i class="factoid__icon">🎮</i>
                            <strong class="factoid__label">
                                {{ stalker_game_info.playingNow ? 'Now playing' : 'Last played' }} {{ stalker_game_info.name }}
                                <span class="factoid__extra">{% if stalker_game_info.playingNow %}Now playing{% else %}Most recently played game{% endif %} on <a href="http://steamcommunity.com/id/meth0d_/" target="_blank">Steam</a></span>
                            </strong>
                        </div>
                    {% endif %}

                    {% if stalker_sleep_enabled %}
                        <div class="factoid factoid--music">
                            <i class="factoid__icon">🛌</i>
                            <strong class="factoid__label">
                                {% set sleepHours = (stalker_sleep_data.minutesAsleep / 60)|round(0, 'floor')  %}
                                {% set sleepMinutes = (stalker_sleep_data.minutesAsleep - (sleepHours  * 60)) %}
                                I slept {{ sleepHours }} hours, {{ sleepMinutes }} minutes last night
                                <span class="factoid__extra">Fell asleep {{ stalker_sleep_data.startDateTime|timeago }}, via Fitbit</span>
                            </strong>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}